<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/scripts/feeds.js"></script>
   </head>
   <body>
     <div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown button
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% feeds.forEach(function(feed){ %>
               <a class="dropdown-item" href="/feeds/<%= feed.id %>"><%= feed.feedTitle %></a>
            <% }); %>
         </div>
      </div>
      <form id="addFeed">
        <div class="form-group">
          <label for="feedUrl">Feed URL</label>
          <input type="text" class="form-control" id="feedUrl" placeholder="Enter Feed URL">
        </div>
        <div class="form-group">
          <label for="feedTitle">Feed Title</label>
          <input type="text" class="form-control" id="feedTitle" placeholder="Feed Title">
        </div>
        <button type="submit" class="btn btn-primary">Add new Feed</button>
      </form>
      
      <h2>FEED | <%= feed.title %></h2>
      <% feed.items.forEach(function(item){ %>
      <h3><%= item.title %></h3>
      <p class="lead"><%= item.contentSnippet %></p>
      <% }); %>
      <script>
      $("#addFeed").submit(function(e) {
        var feedUrl = $('#feedUrl').val();
        var feedTitle = $('#feedTitle').val();
        addFeed(feedUrl, feedTitle);
      });
      </script>

</body>   

</html>