<% include ../partials/header %>

<h1 id="feedTitle" data-feed-url="<%= feed[0].feedUrl %>"><%= feed[0].feedTitle %></h1>

<section class="feedContent">

<div id="feedList" class="list-group">
    <% feed[0].items.forEach(function(item){ %>
        <div class="list-group-item list-group-item-action flex-column align-items-start inaktiveLink">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= item.title %></h5>
            <small><%= item.pubDate %></small>
          </div>
          <p class="mb-1"><%= item.contentSnippet %></p>
          <a href="<%= item.link %>" target="_blank"><small class="text-muted entryLink">Zum Artikel</small></a>
        </div>
    <% }); %>
</section>
</main><!-- .cd-main-content -->
<script>
function getFeedID(url){
   var feedId = url.substring(url.lastIndexOf('/') + 1);
   return feedId;
}

$(function () {
   feedId = getFeedID(window.location.pathname);
   $("ul").find("[data-id='" + feedId + "']").addClass("active");
});

$('#feedRefresh').click(function(e) {
   var feedId = getFeedID(window.location.pathname);
   const feedTitle = document.querySelector('#feedTitle');
   var feedUrl = feedTitle.dataset.feedUrl;
   feedRefresh(feedId, feedUrl);
});
</script>

<% include ../partials/footer %>